.table {
  border-radius: 10px;
  margin: auto;
  width: 90%;
}

/* remove top border on the table so ther isn't straight line over table */
tr:first-child th {
  border-top: none;
}

th {
  width: 30%;
  padding-left: 40px !important;
}

td {
  width: 30%;
  padding-left: 40px !important;
}

@media only screen and (max-width: 500px) {
  th {
    width: 30%;
    padding-left: 10px !important;
  }

  td {
    width: 30%;
    padding-left: 10px !important;
  }
}
