.App {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 22, 0.74);
  height: 100vh;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 44, 44);
  border-bottom: 10px ridge rgba(50, 109, 220, 0.6);
}

h1 {
  color: rgb(230, 230, 230);
}
